@import "tailwindcss";


@layer components{

.container1{
    @apply px-[100px]
}
}
@theme{

    --color-navber : #e5e8e8;
    --color-bannarOne :#F5F5F5;
    --color-bannarTwo :#fff;
    --color-textnew :#000;
}